<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuestra línea de tiempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="timeline">
    <div *ngFor="let event of events; let i = index" class="timeline-event" [class.alternate]="i % 2 !== 0">
      <div class="timeline-point" (click)="showDetails(event)">
        <img [src]="event.icon" alt="Event Icon" />
      </div>
      <div class="timeline-content">
        <h3>{{ event.title }}</h3>
        <p>{{ event.date }}</p>
      </div>
    </div>
    <div class="timeline-line"></div>
  </div>  
</ion-content>
