<ion-content>
  <ion-card class="titulo">
  <h2>
    Canciones para tí ღ
  </h2>
  </ion-card>
  <div class="card-container">
  <ion-card *ngFor="let song of playlist"
  class="tarjeta">
    <ion-card-header class="tarj-jider">
      <ion-card-title>{{ song.title }}</ion-card-title>
      <ion-card-subtitle>{{ song.artist }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="tarj-body">
       <!-- Imagen o Texto con Animación -->
       <div class="media-container" (click)="toggleText(song)">
        <ion-img 
          [class.hidden]="song.showText" 
          [src]="song.img" 
          class="fade media"></ion-img>
        <p 
          [class.hidden]="!song.showText" 
          class="fade media"> {{ song.text }}</p>
      </div>
      <ion-button class="botom" (click)="playSong(song.url)">
        Escuchar 
      </ion-button>
      
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let song of playlist">
      <ion-label>
        <h2>{{ song.title }}</h2>
        <p>{{ song.artist }}</p>
      </ion-label>
      <ion-button fill="outline" color="secondary" (click)="playSong(song.url)">
        Escuchar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content> -->
