ion-content {
    --background: linear-gradient(to bottom, #ffedfc, #ffd5d5);

.moment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
  }
  
  .imagen {
    width: 80%;
    height: auto;
    border-radius: 1500px;
    margin-bottom: 15px;
  }

  .trivia{
    margin: 10px;
  }

  .mensaje{
    margin: 10px;
    
  }

  .boton{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .botom{
    color: antiquewhite;
    --background: rgb(248, 104, 205);
    border-radius: 20px;
  }

  p, h2 {
    font-size: 1.2rem;
    color: #000000;
  }
}