<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuestros momentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="moment-container" *ngIf="currentMoment">
    <ng-container [ngSwitch]="currentMoment.type">
      <div class="imagen" *ngSwitchCase="'foto'">
        <ion-img [src]="currentMoment.content"></ion-img>
        <p>{{ currentMoment.description }}</p>
      </div>
      
      <div class="trivia" *ngSwitchCase="'trivia'">
        <h2>{{ currentMoment.content }}</h2>

        <div *ngIf="!currentMoment.showAnswer">
        <ion-button class="botom" (click)="showAnswer(currentMoment)">Mostrar respuesta</ion-button>
        </div>

        <div *ngIf="currentMoment.showAnswer">
        <p class="answer" >{{ currentMoment.answer }}</p>
        </div>

      </div>
      <div class="mensaje" *ngSwitchCase="'mensaje'">
        <p>{{ currentMoment.content }}</p>
      </div>
    </ng-container>
  </div>
  <div class="boton">
  <ion-button class="botom"  (click)="showRandomMoment()">Tócame bb</ion-button>
  </div>
  
</ion-content>
